html{
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Calibri, Arial;
}



body, html{
    color: #D69373;
    margin: 0;
    height: 100%;
}

.btn {
    background: #d69273;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    margin: 0 auto;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
}

#blurb{
    text-align:center;
    border-radius: 28px;
    width:250px;
}

#donate {
    display:none;
    text-align:center;
    width:250px;

}

p{
    text-align:center;
}

input{
    border-radius: 5px;
}

a{
    text-decoration: none;
}

#slider_container{
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;

}

#slider{
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    border-radius:25px;
    background-color: #8e8d8d;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
               0 1px 0 0px rgba(250, 250, 250, .5);
}

#slider .ui-slider-range-min{
    height:15px;
    width: 300px;
    position: absolute;
    background-color: #D69373;
}

.icon1{
    position:absolute;
    left:0px;
    height: 15px;
}

.icon2{
    position:absolute;
    left:330px;
    height: 15px;
}

#slider .ui-slider-handle {
    width: 18px;
    height:18px;
    border-radius: 9px;
    position: absolute;
    margin-top: 3px;
    cursor: pointer;
}

#slider .ui-state-focus{
    background-color: #97654c;
}

.main{
    height:150px;
}