html{
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Calibri, Arial;
}



body, html{
    color: #D69373;
    margin: 0;
    height: 100%;
}

.btn {
    background: #d69273;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    margin: 0 auto;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
}

#blurb{
    text-align:center;
    border-radius: 28px;
    width:250px;
}

#donate {
    display:none;
    text-align:center;
    width:250px;

}

p{
    text-align:center;
}

input{
    border-radius: 5px;
}

a{
    text-decoration: none;
}