<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Flight Mode Focus. Focus at 35,000ft. Airplane cabin ambient sound for drowning everything out and focusing on work.">
    <title>flight mode focus</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
{% endblock head %}
{% block body %}
    <div class="container">
    {% block page_content %}

    {% endblock page_content %}
    </div>
{% endblock body %}
{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-66916755-1', 'auto');
          ga('send', 'pageview');
    </script>
{% endblock scripts %}
</html>